a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}
h2 {
    text-align: center;
}
#center {
    border: 3px solid;
    margin: auto;
    padding: 30px;
    margin-top: 15vh;
    /*height: 70vh;*/
}